performance {
    authorizationHeader = "~MANUAL_ENTRY~"
    rampUpSeconds = 5
    rampDownSeconds = 5
    durationSeconds = 10
    contentType = "application/json"
    acceptType = "application/json"
    rateMultiplier = 1
    instanceMultiplier = 1
    operationsPerSecond {
    {{#apiInfo}}
    {{#apis}}
    {{#operations}}
    {{#operation}}
        {{operationId}} = 1
    {{/operation}}
    {{/operations}}
    {{/apis}}
    {{/apiInfo}}
    }
    global {
        assertions {
            responseTime {
                min {
                    lte = 30000
                    gte = 0
                }
                max {
                    lte = 30000
                    gte = 0
                }
                mean {
                    lte = 30000
                    gte = 0
                }
            }
            failedRequests {
                percent {
                    lte = 5
                    gte = 0
                }
            }
            successfulRequests {
                percent {
                    lte = 100
                    gte = 0
                }
            }
        }
    }
}